body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  padding-top: 2rem;
  font-size: 2.5rem;
}

 h3 {
   padding: 5% 20% 3% 20%;
 }

/* Sections */
.colored-section {
  background-color: #00B2EE;
  color: #fff;
}

#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15%;

}

.home-pg-left {
  padding-bottom: 50px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
}


 .feature-item h3 {
   font-family: "Montserrat-Bold";
   font-size: 1.5rem;

 }

 /* navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {

  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

.navbar-brand{
   font-family: "Ubuntu", sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
 }

/* buttons */
 .download-buttons {
margin: 8% 5% 2% 0;
 }

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
  padding-bottom: 3rem;
  margin-left: 3rem;

 }

/* features section */
#features {
 padding: 7%;
 background-color: #fff;
 position: relative;
 z-index: 1;

}

.feature-text{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 3rem;
}

.feature-item {
  padding: 5%;
}




.feature-item p {
  font-size: 1rem;
  color: #8f8f8f;
}

.feature-icon {
  color: #00B2EE;
  padding-bottom: 1.5rem;
}

.feature-icon:hover {
  color: #007FFF;
}



/*
  testimonials */
  #testimonials {
    padding: 10% 20%;
    font-size: 1rem;
  }


  #testimonials h4 {
      font-size: 1.25rem;
  }



  /* pricing */

  #pricing {
    padding: 100px;
  }

  .pricing-column {
    padding: 3% 2%;
  }

  .card-header {
    background-color: #00B2EE;
  }

/* Call to Action */
  #action {
    padding: 7% 15%;
  }

  .social-icon {
    margin: 20px 10px;
  }

  /* Footer */
  #footer {
    padding: 1.5rem;
  }

  @media (max-width: 990px) {
    #title {
      text-align: center;
    }

    .title-image {
      position: static;
      transform: rotate(0);

    }
  }
